@using WebDalisa.Models


<body id="body" class="bg-fondo">

    <div class="container-fluid bg-fondo">
        <div class="row">
            <div class="col-1  col-md-1-1">
                <div id="nav" class="sidebar close" th:include="Menu :: menuPrincipal">
                </div>
            </div>
            <div class="col-11   col-md-11-1 p-0 ps-3">
                <section class="home-section">
                    <div class="container-fluid">
                        <div class="col-12 pb-2 ">
                            <div style="width: 4%; ">
                                <i class=" bx bx-menu" role="button" style="font-size:50px;"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 p-1 pb-3">
                                <h1 class="text-center titulo">CANCELACIÒN DE PEDIDO</h1>
                            </div>
                            <div class="col-12">
                                <table class="table table-striped w-100" id="myTable2">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">ID</th>
                                            <th scope="col">ENTEGA POR</th>
                                            <th scope="col">FECHA PEDIDO</th>
                                            <th scope="col">FECHA ENTREGA</th>
                                            <th scope="col">PERIODO CLAVE</th>
                                            <th scope="col">PUNTOS</th>
                                            <th scope="col">IMPORTE PAGAR</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<CabeceraBoletaDTO>)ViewBag.listadoCabcera)
                                        {

                                        <tr class="text-center">
                                            <th scope="row">@item.nBoleta</th>
                                            <td>@item.nomRepartidor</td>
                                            <td>@item.fechaPedido</td>
                                            <td>@item.fechaEngrega</td>
                                            <td>@item.estado</td>
                                            <td>@item.total_Punto</td>
                                            <td>@item.impotTotal</td>
                                            <td>
                                                <!-- Button trigger modal -->
                                                <button type="button" onclick="dettalle('@item.nBoleta')" class="btn btn-warning">
                                                    DETALLE
                                                </button>

                                                @if (item.estado.Equals("PENDIENTE"))
                                                {
                                                    <form class="p-0" action="transacionBoleta" method="post">
                                                        <input type="hidden" name="nboleta" value="@item.nBoleta">
                                                        <input type="hidden" name="opc" value="C">
                                                        <button type="submit" onclick="return confirm('CancelarEntrega Entrega?')" class="btn text-light" style="background-color:brown">Cancelar Entrega</button>
                                                    </form>

                                                }
                                            </td>
                                        </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cancelar" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">DELLATE DE PRODUCTO </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table text-secondary">
                        <thead>
                            <tr class="table-success ">
                                <th class="col-2 ">#</th>
                                <th class="col-3">PRECIO</th>
                                <th class="col-2 ">PRECIO</th>
                                <th class="col-2">CANTIDAD</th>
                                <th class="col-2 ">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody id="detalle">
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#nav").load("http://localhost:64395/Usuario/Menu");
        });
          function dettalle(nboleta) {
            $.ajax({
                url: '@Url.Content("~/VentaProducto/DetalleBoleta")',
                type: 'POST',
                data: { 'nboleta': nboleta },
                dataType: "json",
                success: function (json) {
                    $("#detalle").empty();
                    $.each(json, function (i, item) {
                        var rows = "<tr>" +
                            "<th scope='row' id='id'>" + item.producto.codigoProducto + "</td>" +
                            "<td >" + item.producto.nombre + "</td>" +
                            "<td >" + item.precio + "</td>" +
                            "<td >" + item.cantidad + "</td>" +
                            "<td >" + item.importePagar + "</td>" +
                            "</tr>";
                        $('#detalle').append(rows);
                    });

                    jQuery.noConflict();
                    $('body').addClass('modal-open');
                    $("#cancelar").modal("show")

                },
                error: function (xhr, status) {
                    console.log(status)
                }
            });

        }
    </script>
</body>